<section class="main-container">
  <div class="container">
    <div class="row">
      <h1 class="page-title">取引相手の評価</h1>
      <div class="separator-2"></div>
      <%= render 'form', evaluation: @evaluation, parent_child: @parent_child %>
    </div>
  </div>
</section>
