<section class="main-container">
  <div class="container">
    <div class="row">
      <h1 class="page-title">交渉に出す本の選択</h1>
      <div class="separator-2"></div>
      <%= render partial: 'form' %>
    </div>
  </div>
</section>
