<div class="page-wrapper">
	<div class="vertical">
		<ul class="mypage-nav nav nav-tabs" role="tablist">
			<li class="active"><a href="#vtab1" role="tab" data-toggle="tab" aria-expanded="true"><i class="fa fa-book pr-10"></i> マイブック</a></li>
			<li class=""><a href="#vtab2" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-handshake-o pr-10"></i> 取引一覧</a></li>
			<li class=""><a href="#vtab3" role="tab" data-toggle="tab" aria-expanded="false"><i class="fa fa-cogs pr-10"></i> 設定</a></li>
		</ul>
		<div class="mypage-tab tab-content">
			<div class="tab-pane fade active in" id="vtab1">
				<h3 class="title">マイブック</h3>
				<%= link_to new_user_book_path(current_user), class: "btn btn-default" do %>新しく本を登録する<% end %>
				<%= render partial: 'books/index', locals: { books: current_user.books } %>
			</div>
			<div class="tab-pane fade" id="vtab2">
				<h3 class="title">取引一覧</h3>
				<ul class="list-icons">
					<li><i class="icon-check pr-10"></i> Lorem ipsum dolor sit amet maiores</li>
					<li><i class="icon-check pr-10"></i> Consectetur adipisicing elit</li>
					<li><i class="icon-check pr-10"></i> Aut earum numquam hic placeat</li>
					<li><i class="icon-check pr-10"></i> Fugiat rem consequatur neque</li>
				</ul>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere hic qui non placeat ad explicabo dignissimos amet iusto veniam!</p>
				<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
				<a href="page-services.html" class="btn btn-default">Read more</a>
			</div>
			<div class="tab-pane fade" id="vtab3">
				<h3 class="title">設定</h3>
					<%= render partial: 'edit' %>
					<%= link_to "登録した住所を確認する", user_addresses_path(current_user), class: "btn btn-default" %>
					<p>Quo expedita tempore modi minima at adipisci saepe excepturi alias consequuntur sunt asperiores enim ut assumenda hic vitae, odio deleniti illo, veniam quas!</p>
			</div>
