<div class="tab-pane" id="pill-3">
  <div class="row grid-space-10">
    <ul class="nav nav-pills style-2" role="tablist">
			<li class="active"><a href="#pill2-1" role="tab" data-toggle="tab" title="images" aria-expanded="false"><i class="fa fa-user-plus pr-5"></i> あなたが開始した取引</a></li>
			<li class=""><a href="#pill2-2" role="tab" data-toggle="tab" title="video" aria-expanded="false"><i class="fa fa-heart pr-5"></i> あなたがほしいね！をした取引</a></li>
		</ul>
    <div class="tab-content clear-style">
			<div class="tab-pane" id="pill2-1">
        <%= render partial: 'books/establish_parent' %>
			</div>
			<div class="tab-pane" id="pill2-2">
        <%= render partial: 'books/establish_child' %>
			</div>
		</div>
  </div>
</div>
