<div class="tab-pane active" id="pill-1">
  <div class="row grid-space-10">
    <% current_user.parents.each do |parent| %>
      <% if parent.book.exchange == false %>
        <% if parent.parent_child.blank? %>
          <div class="col-sm-6 col-md-3">
            <div class="image-box team-member style-2 shadow bordered mb-20 text-center">
              <div class="overlay-container overlay-visible">
              <%= image_tag('blog-1.jpg') %>
              </div>
              <div class="body">
                <h3 class="margin-clear"><%= parent.book.title %></h3>
                <small><%= parent.book.author %></small>
                <div class="separator mt-10"></div>
                <%= link_to parent_path(parent), class:"btn btn-gray" do %>ほしいね！を見る <i class="fa fa-folder-open pl-10"></i><% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
