<li class="active"><a href="#pill-pr-1" role="tab" data-toggle="tab" title="Step 1">Step 1：取引成立確認</a></li>
<li class="disabled"><a href="#">Step 2：住所連絡</a></li>
<li class="disabled"><a href="#">Step 3：配送連絡</a></li>
<li class="disabled"><a href="#">Step 4：受け取り連絡</a></li>
