<% if parent.status > 2 && child.status > 2 %>
  <p>お互いが本を配送しました！</p>
  <p>次のStepに進んでください！</p>
<% elsif current_user == parent.user && parent.status > 2 %>
  <p>相手方が本を配送するまでしばらくお待ちください。</p>
<% elsif current_user == child.user && child.status > 2 %>
  <p>相手方が本を配送するまでしばらくお待ちください。</p>
<% else %>
  <p>相手方に本の配送を行ってください。</p>
  <p>本の配送作業が完了しましたら、以下のボタンを押してください。</p>
<% end %>

<% if current_user == parent.user && parent.status == 2  %>
<p class="step-notice">以下が本の届け先です。</p>
<%= render partial: 'address', locals: { address: Address.find(child.address_id) } %>
<%= render partial: 'send', locals: { object: parent } %>
<% end %>

<% if current_user == child.user && child.status == 2 %>
<p class="step-notice">以下が本の届け先です。</p>
<%= render partial: 'address', locals: { address: Address.find(parent.address_id) } %>
<%= render partial: 'send', locals: { object: child } %>
<% end %>
