<% if parent.status > 1 && child.status > 1 %>
  <p>お互いが住所を通知しました！</p>
  <p>次のStepに進んでください！</p>
<% elsif current_user == parent.user && parent.status > 1 %>
  <p>相手方が住所を通知するまでしばらくお待ちください。</p>
<% elsif current_user == child.user && child.status > 1 %>
  <p>相手方が住所を通知するまでしばらくお待ちください。</p>
<% else %>
  <p>相手方にあなたの住所を通知します。</p>
  <p>以下からあなたの通知する住所を選択してください。</p>
<% end %>
<% if current_user.addresses.any? %>
  <%= render 'notice', object: parent if current_user == parent.user && parent.status == 1 %>
  <%= render 'notice', object: child if current_user == child.user && child.status == 1 %>
<% else %>
  <p class="step-warning">住所が登録されていません！</p>
  <%= link_to new_user_address_path(current_user), class: "btn btn-danger" do %>
    マイページから住所を登録してください
  <% end %>
<% end %>
