<div class="main col-md-12">
  <h1 class="page-title">人気の取引</h1>
  <div class="separator-2"></div>
  <% if @popular_parent.any? %>
    <%= render partial: 'index', locals: { object: @popular_parent } %>
  <% else %>
    <p>現在人気の取引がありません。</p>
  <% end %>
  <br>
  <br>
  <h1 class="page-title">最近開始された取引</h1>
  <div class="separator-2"></div>
  <% if @parents.any? %>
    <%= render partial: 'index', locals: { object: @parents } %>
  <% else %>
    <p>現在取引がありません。</p>
  <% end %>
</div>
