<section class="main-container">
  <div class="container">
    <div class="row">
      <div class="main col-md-12">
        <h1 class="page-title">人気の取引</h1>
        <div class="separator-2"></div>
        <%= render partial: 'index', locals: { object: @popular_parent } %>
        <br>
        <br>
        <h1 class="page-title">最近開始された取引</h1>
        <div class="separator-2"></div>
        <%= render partial: 'index', locals: { object: @parents } %>
      </div>
    </div>
  </div>
</section>
