<div class="main col-md-12">
  <h1 class="page-title">取引一覧</h1>
  <div class="separator-2"></div>
  <% if @parents.any? %>
    <%= render 'index', object: @parents %>
  <% else %>
    <p>現在取引がありません。</p>
  <% end %>
</div>
