body {
  height: 100%;
}

.main-container {
  height: 100%;
}

.page-wrapper {
  height: 100%;
}

.pv-40 {
  min-height: 100%;
}

.pv-20 {
  min-height: 100%;
}

.vertical {
  margin: 0 !important;
  height: 100%;
}

.mypage-tab {
  height: 1000px;

  .tab-pane {
    width: 1018px;
  }
}

.mypage-nav {
  width: 100%;
}

#new_parent {
  margin: 0;
}

.book-list {
  margin-bottom: 5px !important;
}

.step-warning {
  color: #FF0000;
  font-weight: bold;
}
